### Paycheck Protection Program

Let's analyze **an excerpt** from  <a href="https://www.sba.gov/funding-programs/loans/covid-19-relief-options/paycheck-protection-program">SBA's PPP loan data</a>.

The file we're working on is an excerpt so we can't draw any hypothesis from our findings in this homework.

In [1]:
## import library
import pandas as pd

In [2]:
## Ingest remote data
df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv")
df

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112-2922,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407-1740,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,NaN,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3857047706,05/01/2020,1084,PPP,NORTHERN ALASKA CONTRACTORS LLC,3610 MERE CIRCLE,ANCHORAGE,AK,99502,07/13/2021,...,Limited Liability Company(LLC),12096,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,372875.94,06/22/2021
996,6411717106,04/14/2020,1084,PPP,"L&M EQUIPMENT, INC.",PO BOX 241,NAKNEK,AK,99633,04/27/2021,...,Corporation,3386,First National Bank Alaska,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,360636.31,12/17/2020
997,6297468301,01/26/2021,1084,PPS,EL CAPITAN LODGE LLC,1 Sarkar Rd.,Sarkar Cove,AK,99921,NaN,...,Limited Liability Company(LLC),59358,"BOKF, National Association",TULSA,OK,Male Owned,Non-Veteran,NaN,372821.37,06/07/2022
998,6226697002,04/06/2020,1084,PPP,WASILLA DRIVE-IN LLC,2051 E. Sun Mountain Ave.,WASILLA,AK,99654-7351,08/19/2021,...,Limited Liability Company(LLC),116975,Northrim Bank,ANCHORAGE,AK,Unanswered,Unanswered,NaN,372314.56,07/22/2021
999,3933197207,04/27/2020,1084,PPP,"TRIVERUS, LLC",1960 S Eklutna St,Palmer,AK,99645,07/20/2021,...,Limited Liability Company(LLC),116975,Northrim Bank,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,371221.68,06/02/2021

In [3]:
## get info about data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LoanNumber                   1000 non-null   int64
 1   DateApproved                 1000 non-null   object
 2   SBAOfficeCode                1000 non-null   int64
 3   ProcessingMethod             1000 non-null   object
 4   BorrowerName                 1000 non-null   object
 5   BorrowerAddress              992 non-null    object
 6   BorrowerCity                 992 non-null    object
 7   BorrowerState                987 non-null    object
 8   BorrowerZip                  992 non-null    object
 9   LoanStatusDate               916 non-null    object
 10  LoanStatus                   1000 non-null   object
 11  Term                         1000 non-null   int64
 12  SBAGuarantyPercentage        1000 non-null   int64
 13  InitialApprovalAmount        1000 non-null   float64
 14  CurrentApprovalAmount        1000 non-null   float64
 15  UndisbursedAmount            1000 non-null   int64
 16  FranchiseName                34 non-null     object
 17  ServicingLenderLocationID    1000 non-null   int64
 18  ServicingLenderName          1000 non-null   object
 19  ServicingLenderAddress       1000 non-null   object
 20  ServicingLenderCity          1000 non-null   object
 21  ServicingLenderState         1000 non-null   object
 22  ServicingLenderZip           1000 non-null   object
 23  RuralUrbanIndicator          1000 non-null   object
 24  HubzoneIndicator             1000 non-null   object
 25  LMIIndicator                 1000 non-null   object
 26  BusinessAgeDescription       1000 non-null   object
 27  ProjectCity                  992 non-null    object
 28  ProjectCountyName            992 non-null    object
 29  ProjectState                 992 non-null    object
 30  ProjectZip                   992 non-null    object
 31  CD                           992 non-null    object
 32  JobsReported                 1000 non-null   int64
 33  NAICSCode                    999 non-null    float64
 34  Race                         1000 non-null   object
 35  Ethnicity                    1000 non-null   object
 36  UTILITIES_PROCEED            413 non-null    float64
 37  PAYROLL_PROCEED              998 non-null    float64
 38  MORTGAGE_INTEREST_PROCEED    38 non-null     float64
 39  RENT_PROCEED                 147 non-null    float64
 40  REFINANCE_EIDL_PROCEED       1 non-null      float64
 41  HEALTH_CARE_PROCEED          77 non-null     float64
 42  DEBT_INTEREST_PROCEED        20 non-null     float64
 43  BusinessType                 993 non-null    object
 44  OriginatingLenderLocationID  1000 non-null   int64
 45  OriginatingLender            1000 non-null   object
 46  OriginatingLenderCity        1000 non-null   object
 47  OriginatingLenderState       1000 non-null   object
 48  Gender                       1000 non-null   object
 49  Veteran                      1000 non-null   object
 50  NonProfit                    99 non-null     object
 51  ForgivenessAmount            935 non-null    float64
 52  ForgivenessDate              935 non-null    object
dtypes: float64(11), int64(8), object(34)
memory usage: 414.2+ KB

In [4]:
## Return all summary statistics in one go
df.describe()

,LoanNumber,SBAOfficeCode,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,ServicingLenderLocationID,JobsReported,NAICSCode,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,OriginatingLenderLocationID,ForgivenessAmount
count,1.000000e+03,1000.000000,1000.000000,1000.0,1.000000e+03,1.000000e+03,1000.0,1000.000000,1000.000000,999.000000,413.000000,9.980000e+02,38.000000,147.000000,1.0,7.700000e+01,20.000000,1000.000000,9.350000e+02
mean,5.323518e+09,1074.068000,36.743000,100.0,9.523514e+05,9.647035e+05,0.0,62646.676000,72.871000,509316.665666,16863.820823,9.385790e+05,33246.180789,71710.026667,10000.0,1.111505e+05,33142.546000,62024.840000,9.129827e+05
std,2.362641e+09,93.770178,17.211542,0.0,9.470212e+05,9.509290e+05,0.0,75172.748899,73.650477,181263.442664,59265.173002,9.380392e+05,35466.207729,69605.220007,NaN,1.988859e+05,47648.460214,73473.174448,8.540587e+05
min,1.001567e+09,101.000000,24.000000,100.0,1.550100e+05,1.550100e+05,0.0,3386.000000,2.000000,112511.000000,1.000000,1.550100e+05,567.140000,1000.000000,10000.0,2.097720e+03,899.980000,3386.000000,1.012108e+05
25%,3.570982e+09,1084.000000,24.000000,100.0,4.533080e+05,4.639350e+05,0.0,3386.000000,30.000000,423175.000000,1.000000,4.523362e+05,9250.000000,28695.000000,10000.0,2.894444e+04,4191.115000,3386.000000,4.567262e+05
50%,5.124374e+09,1084.000000,24.000000,100.0,6.179993e+05,6.317223e+05,0.0,56102.000000,48.000000,541350.000000,1.000000,6.163180e+05,20276.000000,50222.140000,10000.0,5.029510e+04,14628.525000,56102.000000,6.230371e+05
75%,7.058052e+09,1084.000000,60.000000,100.0,1.024391e+06,1.035338e+06,0.0,116975.000000,85.000000,621760.000000,12459.770000,1.013201e+06,50137.500000,91491.000000,10000.0,1.000000e+05,35946.250000,116975.000000,1.010828e+06
max,9.993717e+09,1084.000000,60.000000,100.0,9.571397e+06,9.538531e+06,0.0,524612.000000,500.000000,924120.000000,880558.950000,9.538531e+06,151421.000000,404926.450000,10000.0,1.490741e+06,200772.400000,518683.000000,9.615885e+06

In [5]:
## create a new dataframe that holds all the numbers rounded to 0 decimal places
## remember a floating point rounded number still shows .0
dfr = round(df.describe(),0)
dfr

,LoanNumber,SBAOfficeCode,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,ServicingLenderLocationID,JobsReported,NAICSCode,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,OriginatingLenderLocationID,ForgivenessAmount
count,1.000000e+03,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,999.0,413.0,998.0,38.0,147.0,1.0,77.0,20.0,1000.0,935.0
mean,5.323518e+09,1074.0,37.0,100.0,952351.0,964704.0,0.0,62647.0,73.0,509317.0,16864.0,938579.0,33246.0,71710.0,10000.0,111150.0,33143.0,62025.0,912983.0
std,2.362641e+09,94.0,17.0,0.0,947021.0,950929.0,0.0,75173.0,74.0,181263.0,59265.0,938039.0,35466.0,69605.0,NaN,198886.0,47648.0,73473.0,854059.0
min,1.001567e+09,101.0,24.0,100.0,155010.0,155010.0,0.0,3386.0,2.0,112511.0,1.0,155010.0,567.0,1000.0,10000.0,2098.0,900.0,3386.0,101211.0
25%,3.570982e+09,1084.0,24.0,100.0,453308.0,463935.0,0.0,3386.0,30.0,423175.0,1.0,452336.0,9250.0,28695.0,10000.0,28944.0,4191.0,3386.0,456726.0
50%,5.124374e+09,1084.0,24.0,100.0,617999.0,631722.0,0.0,56102.0,48.0,541350.0,1.0,616318.0,20276.0,50222.0,10000.0,50295.0,14629.0,56102.0,623037.0
75%,7.058052e+09,1084.0,60.0,100.0,1024391.0,1035338.0,0.0,116975.0,85.0,621760.0,12460.0,1013201.0,50138.0,91491.0,10000.0,100000.0,35946.0,116975.0,1010828.0
max,9.993717e+09,1084.0,60.0,100.0,9571397.0,9538531.0,0.0,524612.0,500.0,924120.0,880559.0,9538531.0,151421.0,404926.0,10000.0,1490741.0,200772.0,518683.0,9615885.0

In [6]:
## What is the sum of all the forgiven loans 
df["ForgivenessAmount"].sum()

853638795.3599999

In [7]:
## What is the sum of all the forgiven loans  
## format with dollar sign and thousands separators
f'${df["ForgivenessAmount"].sum():_.0F}'

'$853_638_795'

In [8]:
## store in variable called total_loan_forgiven
## we should be able to run calcuations on this variable later.
total_loan_forgiven = df["ForgivenessAmount"].sum()
total_loan_forgiven

853638795.3599999

In [9]:
## f string format that variable to 2 decimal places
f"${total_loan_forgiven:_.0F}"

'$853_638_795'

In [10]:
## return the median for CurrentApprovalAmount loans, InitialApprovalAmount loans and ForgivenessAmount loan amounts
df[["InitialApprovalAmount", "CurrentApprovalAmount", "ForgivenessAmount"]].median()

InitialApprovalAmount    617999.310
CurrentApprovalAmount    631722.275
ForgivenessAmount        623037.090
dtype: float64

In [11]:
##  Return the above as a frame
(df[["InitialApprovalAmount", "CurrentApprovalAmount", "ForgivenessAmount"]].median()).to_frame("Median")

                           Median
InitialApprovalAmount  617999.310
CurrentApprovalAmount  631722.275
ForgivenessAmount      623037.090

In [12]:
## get the count, mean and median for CurrentApprovalAmount
df["CurrentApprovalAmount"].agg(["count", "mean", "median"])

count       1000.00000
mean      964703.54666
median    631722.27500
Name: CurrentApprovalAmount, dtype: float64

## DO NOT COMPLETE THE FOLLOWING

In [13]:
## automatically return a frame for the count, mean and median for InitialApprovalAmount, CurrentApprovalAmount
## note the double brackets because we are passing a list of columns - Automatic to frame

In [14]:
## What summary statistics for the CurrentApprovalAmount by Race?
## if you get scientific notation, round it by running the display option that changes the default display
## run the display code here

In [15]:
## What is the sum, mean and count of  by race and gender
## describe by school type
## describe() returns a dataframe