# NYC 311 Noise Complaints Analysis

Brainstorm a strategy to see if 311 noise complaints data reveal any trends. What other data might you cross-reference?

In [1]:
import pandas as pd

In [4]:
nc = pd.read_csv("311-noise-complaints.csv")
nc

/Users/sandeepjunnarkar/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,19175877,11/21/2010 01:29:00 PM,11/28/2010 03:00:00 PM,DEP,Department of Environmental Protection,Noise,Noise: Construction Equipment (NC1),NaN,10128.0,57 EAST 90 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.783173,-73.956347,"(40.78317325691198, -73.95634713911961)"
1,19175887,11/21/2010 03:33:00 PM,11/23/2010 10:33:00 AM,DEP,Department of Environmental Protection,Noise,"Noise, Barking Dog (NR5)",NaN,11414.0,78-15 153 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.665550,-73.855860,"(40.665549747602576, -73.85585961563991)"
2,19175892,11/21/2010 03:56:00 PM,11/29/2010 01:00:00 PM,DEP,Department of Environmental Protection,Noise,"Noise: Air Condition/Ventilation Equip, Commer...",NaN,11222.0,1090 MANHATTAN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.735763,-73.955162,"(40.73576283548057, -73.95516217275406)"
3,19175898,11/21/2010 04:15:00 PM,11/23/2010 10:59:00 AM,DEP,Department of Environmental Protection,Noise,"Noise, Barking Dog (NR5)",NaN,11209.0,137 88 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.623035,-74.035774,"(40.62303542789971, -74.03577437637094)"
4,19175906,11/21/2010 04:04:00 PM,11/29/2010 11:45:00 AM,DEP,Department of Environmental Protection,Noise,"Noise: Air Condition/Ventilation Equip, Reside...",NaN,11229.0,2000 KINGS HIGHWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.610669,-73.953471,"(40.61066902990479, -73.95347059071634)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1953284,35924545,04/11/2017 06:51:22 PM,04/11/2017 09:49:50 PM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10469.0,1166 BURKE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953285,"""error"" : true",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953286,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953287,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953288,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
nc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1953289 entries, 0 to 1953288
Data columns (total 39 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Unique Key                      object
 1   Created Date                    object
 2   Closed Date                     object
 3   Agency                          object
 4   Agency Name                     object
 5   Complaint Type                  object
 6   Descriptor                      object
 7   Location Type                   object
 8   Incident Zip                    float64
 9   Incident Address                object
 10  Street Name                     object
 11  Cross Street 1                  object
 12  Cross Street 2                  object
 13  Intersection Street 1           object
 14  Intersection Street 2           object
 15  Address Type                    object
 16  City                            object
 17  Landmark                        object
 18  Facility Type                   object
 19  Status                          object
 20  Due Date                        object
 21  Resolution Description          object
 22  Resolution Action Updated Date  object
 23  Community Board                 object
 24  Borough                         object
 25  X Coordinate (State Plane)      float64
 26  Y Coordinate (State Plane)      float64
 27  Park Facility Name              object
 28  Park Borough                    object
 29  Vehicle Type                    float64
 30  Taxi Company Borough            float64
 31  Taxi Pick Up Location           float64
 32  Bridge Highway Name             float64
 33  Bridge Highway Direction        float64
 34  Road Ramp                       float64
 35  Bridge Highway Segment          float64
 36  Latitude                        float64
 37  Longitude                       float64
 38  Location                        object
dtypes: float64(12), object(27)
memory usage: 581.2+ MB

In [28]:
list(nc["Complaint Type"].unique())

['Noise',
 'Collection Truck Noise',
 'Noise - Residential',
 'Noise - Commercial',
 'Noise - Vehicle',
 'Noise - Street/Sidewalk',
 'Noise - Helicopter',
 'Noise - Park',
 'Noise - House of Worship',
 'Noise Survey',
 nan]

In [30]:
list(nc["Descriptor"].unique())

['Noise: Construction Equipment (NC1)',
 'Noise, Barking Dog (NR5)',
 'Noise: Air Condition/Ventilation Equip, Commercial (NJ2)',
 'Noise: Air Condition/Ventilation Equip, Residential (NJ1)',
 'Noise: Jack Hammering (NC2)',
 'Noise: Construction Before/After Hours (NM1)',
 'Noise: Alarms (NR3)',
 'Noise: Other Noise Sources (Use Comments) (NZZ)',
 'Noise, Ice Cream Truck (NR4)',
 'Horn Honking Sign Requested (NR9)',
 '21 Collection Truck Noise',
 'Banging/Pounding',
 'Loud Television',
 'Loud Music/Party',
 'Car/Truck Music',
 'Loud Talking',
 'Car/Truck Horn',
 'Engine Idling',
 'Flying Too Low',
 'Noise: Manufacturing Noise (NK1)',
 'Noise: Private Carting Noise (NQ1)',
 'Noise: Loud Music/Nighttime(Mark Date And Time) (NP1)',
 'Passing By',
 'Noise: Vehicle (NR2)',
 'Hovering',
 'Noise: Boat(Engine,Music,Etc) (NR10)',
 'Noise, Other Animals (NR6)',
 'Noise: Loud Music/Daytime (Mark Date And Time) (NN1)',
 'NYPD',
 'Other',
 'News Gathering',
 'People Created Noise',
 'Noise: air condition/ventilation equipment (NV1)',
 'Noise:  lawn care equipment (NCL)',
 nan]

In [31]:
nc["Status"].unique()

array(['Closed', 'Open', 'Assigned', 'Closed - Testing', 'Draft',
       'Started', 'Pending', nan], dtype=object)

In [38]:
nc.filter(list(nc.columns)[0:9])

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip
0,19175877,11/21/2010 01:29:00 PM,11/28/2010 03:00:00 PM,DEP,Department of Environmental Protection,Noise,Noise: Construction Equipment (NC1),NaN,10128.0
1,19175887,11/21/2010 03:33:00 PM,11/23/2010 10:33:00 AM,DEP,Department of Environmental Protection,Noise,"Noise, Barking Dog (NR5)",NaN,11414.0
2,19175892,11/21/2010 03:56:00 PM,11/29/2010 01:00:00 PM,DEP,Department of Environmental Protection,Noise,"Noise: Air Condition/Ventilation Equip, Commer...",NaN,11222.0
3,19175898,11/21/2010 04:15:00 PM,11/23/2010 10:59:00 AM,DEP,Department of Environmental Protection,Noise,"Noise, Barking Dog (NR5)",NaN,11209.0
4,19175906,11/21/2010 04:04:00 PM,11/29/2010 11:45:00 AM,DEP,Department of Environmental Protection,Noise,"Noise: Air Condition/Ventilation Equip, Reside...",NaN,11229.0
...,...,...,...,...,...,...,...,...,...
1953284,35924545,04/11/2017 06:51:22 PM,04/11/2017 09:49:50 PM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10469.0
1953285,"""error"" : true",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953286,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953287,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953288,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
mi = pd.read_csv("median-income-2021-raw.csv")
mi

/Users/sandeepjunnarkar/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (2,3,4,5,66,67,68,69,130,131,132,133,194,195,196,197) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_001MA,S1901_C01_001EA,S1901_C01_002E,S1901_C01_002M,S1901_C01_002MA,S1901_C01_002EA,...,S1901_C04_014MA,S1901_C04_014EA,S1901_C04_015E,S1901_C04_015M,S1901_C04_015MA,S1901_C04_015EA,S1901_C04_016E,S1901_C04_016EA,S1901_C04_016M,S1901_C04_016MA
0,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,Annotation of Margin of Error!!Households!!Total,Annotation of Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,Annotation of Margin of Error!!Households!!Tot...,Annotation of Estimate!!Households!!Total!!Les...,...,Annotation of Margin of Error!!Nonfamily house...,Annotation of Estimate!!Nonfamily households!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Annotation of Margin of Error!!Nonfamily house...,Annotation of Estimate!!Nonfamily households!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Annotation of Estimate!!Nonfamily households!!...,Margin of Error!!Nonfamily households!!PERCENT...,Annotation of Margin of Error!!Nonfamily house...
1,860Z200US00601,ZCTA5 00601,5397,264,NaN,NaN,33.2,4.4,NaN,NaN,...,(X),(X),(X),(X),(X),(X),15,NaN,(X),(X)
2,860Z200US00602,ZCTA5 00602,12858,448,NaN,NaN,27.1,2.9,NaN,NaN,...,(X),(X),(X),(X),(X),(X),20.1,NaN,(X),(X)
3,860Z200US00603,ZCTA5 00603,19295,555,NaN,NaN,32.1,2.5,NaN,NaN,...,(X),(X),(X),(X),(X),(X),34.9,NaN,(X),(X)
4,860Z200US00606,ZCTA5 00606,1968,171,NaN,NaN,28.4,5.5,NaN,NaN,...,(X),(X),(X),(X),(X),(X),13,NaN,(X),(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33770,860Z200US99923,ZCTA5 99923,13,20,NaN,NaN,0,68.4,NaN,NaN,...,(X),(X),(X),(X),(X),(X),0,NaN,(X),(X)
33771,860Z200US99925,ZCTA5 99925,345,47,NaN,NaN,7.5,4.7,NaN,NaN,...,(X),(X),(X),(X),(X),(X),10.9,NaN,(X),(X)
33772,860Z200US99926,ZCTA5 99926,457,46,NaN,NaN,3.3,1.8,NaN,NaN,...,(X),(X),(X),(X),(X),(X),38.9,NaN,(X),(X)
33773,860Z200US99927,ZCTA5 99927,11,15,NaN,NaN,0,74.4,NaN,NaN,...,(X),(X),(X),(X),(X),(X),0,NaN,(X),(X)
33774,860Z200US99929,ZCTA5 99929,841,73,NaN,NaN,3.9,1.9,NaN,NaN,...,(X),(X),(X),(X),(X),(X),24.9,NaN,(X),(X)

In [15]:
## filter large median census data to smaller dataset
midf = mi.filter(["NAME", "S1901_C01_012E"])
midf

                       NAME                                 S1901_C01_012E
0      Geographic Area Name  Estimate!!Households!!Median income (dollars)
1               ZCTA5 00601                                          15292
2               ZCTA5 00602                                          18716
3               ZCTA5 00603                                          16789
4               ZCTA5 00606                                          18835
...                     ...                                            ...
33770           ZCTA5 99923                                              -
33771           ZCTA5 99925                                          70625
33772           ZCTA5 99926                                          58229
33773           ZCTA5 99927                                              -
33774           ZCTA5 99929                                          54946

[33775 rows x 2 columns]

In [16]:
## rename columns
midf = midf.rename(columns={"NAME": "zip",
                            "S1901_C01_012E": "median-income"})
midf

                        zip                                  median-income
0      Geographic Area Name  Estimate!!Households!!Median income (dollars)
1               ZCTA5 00601                                          15292
2               ZCTA5 00602                                          18716
3               ZCTA5 00603                                          16789
4               ZCTA5 00606                                          18835
...                     ...                                            ...
33770           ZCTA5 99923                                              -
33771           ZCTA5 99925                                          70625
33772           ZCTA5 99926                                          58229
33773           ZCTA5 99927                                              -
33774           ZCTA5 99929                                          54946

[33775 rows x 2 columns]

In [17]:
midf = midf.drop(midf.index[0])
midf

               zip median-income
1      ZCTA5 00601         15292
2      ZCTA5 00602         18716
3      ZCTA5 00603         16789
4      ZCTA5 00606         18835
5      ZCTA5 00610         21239
...            ...           ...
33770  ZCTA5 99923             -
33771  ZCTA5 99925         70625
33772  ZCTA5 99926         58229
33773  ZCTA5 99927             -
33774  ZCTA5 99929         54946

[33774 rows x 2 columns]

In [20]:
midf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33774 entries, 1 to 33774
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   zip            33774 non-null  object
 1   median-income  33774 non-null  object
dtypes: object(2)
memory usage: 791.6+ KB

In [22]:
midf["median-income"] = \
pd.to_numeric(midf["median-income"], errors = "coerce")

midf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33774 entries, 1 to 33774
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   zip            33774 non-null  object
 1   median-income  30596 non-null  float64
dtypes: float64(1), object(1)
memory usage: 791.6+ KB

In [23]:
midf["zip"] = midf["zip"].str.replace("ZCTA5 ", "")
midf

         zip  median-income
1      00601        15292.0
2      00602        18716.0
3      00603        16789.0
4      00606        18835.0
5      00610        21239.0
...      ...            ...
33770  99923            NaN
33771  99925        70625.0
33772  99926        58229.0
33773  99927            NaN
33774  99929        54946.0

[33774 rows x 2 columns]

In [24]:
midf.to_csv("median-income-2021.csv", index = False)

In [25]:
pd.read_csv("median-income-2021.csv")

         zip  median-income
0        601        15292.0
1        602        18716.0
2        603        16789.0
3        606        18835.0
4        610        21239.0
...      ...            ...
33769  99923            NaN
33770  99925        70625.0
33771  99926        58229.0
33772  99927            NaN
33773  99929        54946.0

[33774 rows x 2 columns]