In [ ]:
## Import libraries
import pandas as pd

In [ ]:
## small trick to improve our display
## Unfortunately appears not to work in Colab.
## will allow us to see dataframes side-by-side
from IPython.display import display, HTML

css = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(css))

## Relational databases

Most businesses, government agencies and research institutes do not put their large and complex data directly into ```Excel``` or ```CSV``` files. Instead, they use ```Relational Databases``` which is considered more efficient, secure and easier to manage for a host of reasons. For example, a table uses less space to list names of industries as abbreviations. A related "lookup table" defines the values for those abbreviations.

A ```relational Database``` simply holds a few data categories in each table, and all the different tables are related based on some common values.



Here's a simple example built with mock data:

In [ ]:
## table that holds IDs and names
names = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/relationalDB/id_name.csv")
names

In [ ]:
## table that holds IDs and departments they work in
dept = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/relationalDB/dept.csv")
dept

In [ ]:
## display both df side by side

We can easily see how the two are related, and when brought together to provide us with more information.

## ```join()``` v. ```merge()```

There are two ways to bring different datasets together â€“ we can use ```join()``` or ```merge()```.

Both let us "bring" two datasets together, but ```join()``` only joins based on the common indexes of the 2 datasets.

```merge()``` allows much greater flexibility because we can "merge" 2 datasets based on any columns they have in common, and many other useful parameters.

I tend to almost always use ```merge()```. It is so much more versatile as you will see.


syntax:

```pd.merge(table1, table2)``` in which each dataset has a column value in common.

In [ ]:
## connect name to dept.

## another syntax
```table1.merge(table2)```

In [ ]:
## merge them

In [ ]:
## table that holds supervisor initials for each department
supervisor = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/relationalDB/super.csv")
supervisor.head()

In [ ]:
## add supervisor to each dept.

### Related columns with different column headers

In [ ]:
## table that holds each person's ID and credit score
credit = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/relationalDB/id_credit.csv")

In [ ]:
## display names and credits side by side

In [ ]:
## combine names and credit scores
## This will break

### Related columns with different column headers

syntax:

```pd.merge(table1, table2, left_on = "colA", right_on="column A")```

In [ ]:
## 2.
## combine names and credit scores
## identity and ID are the same thing but spelled differently

In [ ]:
## 3.
## combine names and credit scores, but drop the duplicate
## identity and ID are the same thing but spelled differently
## drop duplicate

In [ ]:
## read dob table 
dob = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/relationalDB/name_dob.csv")
dob

In [ ]:
## connect ID to dob
## merge recognizes that the two tables have "Name" in common.